html,
body {
	height: 100%;
	font-size: 20px;
	line-height: 34px;
}

body {
	background-color: #070707;
	background-image: linear-gradient(rgba(180, 90, 200, .21) 0.5px, transparent 0.5px), linear-gradient(90deg, rgba(180, 90, 200, .21) 0.5px, transparent 0.5px);
	background-size: 0.2rem;
	color: #f2bebe;
	letter-spacing: 0;
	font-family: 'Inter', sans-serif;
	text-rendering: optimizeLegibility;
}

p,
a {
	color: #f2bebe;
	text-decoration: none;
}

p {
	margin-bottom: 0.7rem;
}

a {
	padding: 0 2%;
	border: 1px solid #f2bebe;
	border-radius: 20px;
}

a:hover {
	background-color: #f2bebe;
	color: #070707;
}

.container {
	max-width: 800px;
	width: 90%;
	margin-bottom: 3rem;
}

@media screen and (max-width: 400px) {
	.container {
		padding: 0 7px;
		max-width: 800px;
		width: 100%;
	}
}

h1 {
	margin-top: 5rem;
	margin-bottom: 2rem;
	color: #6100FF;
	font-weight: 500;
	font-size: 4.666666rem;
}

@media screen and (max-width: 400px) {
	h1 {
		margin-bottom: 0.5rem;
		font-size: 2.7rem;
		line-height: 100%;
	}
}

#projects h1 {
	padding-left: 2%;
}

.screen {
	position: relative;
	margin: 0 auto 2% auto;
	padding: 5% 2%;
	height: auto;
	border-radius: 25px;
	background-color: #8750E0;
	background-image: linear-gradient(rgba(0, 0, 0, .21) 0.5px, transparent 0.5px), linear-gradient(90deg, rgba(0, 0, 0, .21) 0.5px, transparent 0.5px);
	background-size: 0.2rem;
	color: black;
	width: 92vw;
}

.screen h2,
.screen p {
	margin: 0;
	line-height: 100%;
}

.screen p {
	padding: .45rem 0 .45rem 0;
	border-bottom: 3px solid black;
	color: black;
	font-weight: 500;
	font-size: 2rem;
	line-height: 120%;
}

.screen p:last-of-type {
	margin-bottom: 2.3rem;
	border: none;
}

.screen h2 {
	padding-bottom: .9rem;
	border-bottom: 3px solid black;
	font-weight: 500;
}

.screen span {
	color: white;
}

.screen a {
	position: absolute;
	bottom: 9%;
	border: 3px solid black;
	color: black;
}

@media screen and (max-width: 400px) {
	.screen {
		margin: 0 auto 3% auto;

	}

	.screen h2 {
		font-size: 2.7rem;
		line-height: 100%;
	}

	.screen p {
		font-size: 1rem;
		line-height: 125%;
	}

	.screen a {
		position: absolute;
		bottom: 0;
		margin-bottom: 1rem;
	}

}

#logos {
	margin-top: 4rem;
	margin-bottom: 4rem;
	text-align: center;
}

#logos img {
	width: 350px;
}

#canvas {
	/* make the canvas wrapper fit the window */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100%;
	height: 100vh;
}

.plane {
	position: relative;
	top: 0vh;
	margin: 0 auto;
	margin-bottom: -50vh;
	max-width: 97vw;
	/* define the size of your plane */
	width: 97vw;
	height: 100vh;
}

.plane img {
	/* hide the img element */
	display: none;
}

#canvas,
.plane {
	pointer-events: none;
}

/*** in case of error show the image ***/
.no-curtains .plane {
	display: flex;
	overflow: hidden;

	align-items: center;
	justify-content: center;
}

.no-curtains .plane img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}
