@font-face {
  font-family: 'Sole_display';  /*titolo*/
  src: url(../fonts/Sole24DisplayBold.otf);
}

@font-face {
  font-family: 'Sole_text';  /*testo corrente*/
  src: url(../fonts/Sole24TextRegular.otf);
}

@font-face {
  font-family: 'Sole_sub_it';  /*sottotitolo*/
  src: url(../fonts/Sole24SubheadRegularIt.otf);
	font-weight: 400;
}

@font-face {
  font-family: 'Sole_sub';  /*sottotitolo*/
  src: url(../fonts/Sole24SubheadRegular.otf);
	font-weight: 400;
}

@font-face {
  font-family: 'SoleSans'; /*testo*/
  src: url(../fonts/Sole24Sans-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'SoleSans'; /*testo*/
  src: url(../fonts/Sole24Sans-Bold.otf);
  font-weight: 800;
}
